/* Custom Card Styles - Updated */

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: var(--spacing-sm);
  max-width: 100%;
  margin: var(--spacing-sm);
}

.card {
  font-family: "Poppins", sans-serif;
  font-size: calc(var(--fs-md));
  border-radius: var(--br-md);
  box-shadow: var(--shadow-md);
  overflow: hidden;
  transition: box-shadow var(--transition-normal);
  display: flex;
  flex-direction: column;
  height: 100%; /* Ensure the card takes full height of its container */
  animation: fadeIn 0.3s ease-in-out;
  background-color: var(--clr-surface-dark);
  border: var(--br-default);
}

.card input.form-control {
  background-color: var(--clr-grey-400) !important;
  color: var(--clr-grey-800);
}

.card select.form-select {
  background-color: var(--clr-grey-400);
  color: var(--clr-grey-800);
}

.card label.form-label {
  color: var(--clr-grey-400);
}

/* Header, Body, and Footer Styling */
.card-header,
.card-body,
.card-footer {
  padding: var(--spacing-md);
  display: flex;
  /*align-items: center;*/
}

.card-header {
  background: var(--header-gradient);
  border-bottom: 1px solid var(--clr-surface-primary);
  color: var(--clr-primary);
  justify-content: left;
  padding-bottom: var(--spacing-md) !important;
}

/* Adjustments for cards without icons */
.card-header:not(:has(.card-icon)) .card-title {
  margin-left: 0;
}

.card-header::after,
.card-footer::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: inherit;
  z-index: -1;
  opacity: 0.7;
}

.card-title {
  margin: 0;
  font-size: var(--fs-md) !important;
  font-weight: 500 !important;
}

.card-icon {
  font-size: var(--fs-md);
  margin-right: var(--spacing-sm);
}

/* Image card styles */
.card-img-top {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card-body {
  padding: var(--spacing-xs) !important;
  font-size: var(--fs-sm);
  flex-grow: 1; /* Allow the body to grow and push the footer down */
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.card-body hr
{
  border: none;
  height: 1px;
  background-color: var(--clr-grey-400);
}

.card-footer {
  padding: var(--spacing-sm);
  padding-top: 10px !important;
  border-top: 1px solid var(--clr-surface-primary);
  display: flex;
  justify-content: flex-end;
  gap: var(--spacing-xs);
  margin-top: auto;
  background: var(--footer-gradient);
}

/* Add this to reduce space in compact cards */
.compact {
  justify-content: space-between; /* Distribute space evenly */
}

/* Compact card styles */
.compact .card-header {
  padding: var(--spacing-sm);
}

.compact .card-body {
  padding: var(--spacing-md);
  flex-grow: 0; /* Prevent the body from growing in compact cards */
}

.compact .card-footer {
  padding: var(--spacing-sm);
}

.btn {
  padding: var(--spacing-sm);
  border: none;
  border-radius: var(--br-sm);
  font-weight: 500;
  font-size: var(--fs-sm);
  cursor: pointer;
  transition: background-color var(--transition-fast),
  transform var(--transition-fast);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-xs);
}

.btn:hover {
  transform: scale(1.05);
}

.btn-default {
  background-color: var(--clr-primary);
  color: var(--clr-mine-shaft);
}

.btn-secondary {
  background-color: var(--clr-secondary);
  color: var(--clr-mine-shaft);
}

.btn-success {
  background-color: var(--clr-success);
  color: var(--clr-mine-shaft);
}

.btn-warning {
  background-color: var(--clr-warning);
  color: var(--clr-mine-shaft);
}

.btn-error {
  background-color: var(--clr-error);
  color: var(--clr-mine-shaft);
}

.btn-information {
  background-color: var(--clr-information);
  color: var(--clr-mine-shaft);
}

.btn-primary {
  background-color: var(--clr-primary);
  color: var(--clr-mine-shaft);
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(var(--spacing-md));
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .card-container {
    grid-template-columns: 1fr;
  }
}
