@inherits DropBear.Codex.Blazor.Components.Bases.DropBearComponentBase

<div class="loading-card-container">
    <div class="loading-card">
        <h3>
            <span class="icon">🕒</span>
            @Title
        </h3>
        <div class="progress-container">
            @if (IsIndeterminate)
            {
                <div class="progress-bar indeterminate"></div>
            }
            else
            {
                <div class="progress-bar" style="width: @(CurrentProgress)%">
                    <span class="progress-text">@CurrentProgress%</span>
                </div>
            }
        </div>
        <p>@Message</p>

        @if (ShowCancelButton)
        {
            <button class="btn btn-primary" @onclick="CancelAsync">@CancelButtonText</button>
        }
    </div>
</div>
