@inherits DropBear.Codex.Blazor.Components.Bases.DropBearComponentBase
<div class="loading-container">
    <div class="loading-card">
        <h3>
            <i class="icon fas fa-clock"></i>
            @Title
        </h3>
        <div class="spinner-container">
            <div class="spinner"></div>
        </div>
        <p>
            @Message<span class="dots"></span>
        </p>
    </div>
</div>
