@inherits DropBear.Codex.Blazor.Components.Bases.DropBearComponentBase

<div class="@CssClass"
     @onmouseover="OnTooltipShow"
     @onmouseout="OnTooltipHide">
    @* Optional icon *@
    @if (!string.IsNullOrEmpty(Icon))
    {
        <i class="@Icon"></i>
    }

    @* Optional text *@
    @if (!string.IsNullOrEmpty(Text))
    {
        <span>@Text</span>
    }

    @* Tooltip container *@
    @if (ShowTooltip && !string.IsNullOrEmpty(Tooltip))
    {
        <div class="dropbear-badge-tooltip" style="@TooltipStyle">
            @Tooltip
        </div>
    }
</div>
