@inherits DropBear.Codex.Blazor.Components.Bases.DropBearComponentBase
@using DropBear.Codex.Blazor.Interfaces
@using DropBear.Codex.Notifications
@using DropBear.Codex.Notifications.Enums
@using DropBear.Codex.Notifications.Models
@using MessagePipe
@using DropBear.Codex.Serialization.Interfaces
@using DropBear.Codex.Utilities.Interfaces
@inject ISnackbarNotificationService SnackbarService
@inject ISubscriber<string, Notification> ChannelNotificationSubscriber
@inject IDebounceService DebounceService

<div class="snackbar-container">
    @foreach (var snackbar in CombinedSnackbars)
    {
        <DropBearSnackbarNotification @key="snackbar.Id"
                                      @ref="snackbar.ComponentRef"
                                      Title="@snackbar.Title"
                                      Message="@snackbar.Message"
                                      Type="snackbar.Type"
                                      Duration="snackbar.Duration"
                                      IsDismissible="snackbar.IsDismissible"
                                      ActionText="@snackbar.ActionText"
                                      OnAction="@(() => OnSnackbarAction(snackbar))"/>
    }
</div>

@code {
 // Left blank on purpose
}
