@using DropBear.Codex.Blazor.Interfaces
@using DropBear.Codex.Notifications.Models
@using DropBear.Codex.Utilities.Interfaces
@using MessagePipe
@inherits DropBear.Codex.Blazor.Components.Bases.DropBearComponentBase
@inject ISnackbarNotificationService SnackbarService
@inject IAsyncSubscriber<string, Notification> NotificationSubscriber
@inject IDebounceService DebounceService

<div class="snackbar-container">
    @foreach (var snackbar in _snackbars)
    {
        <DropBearSnackbarNotification @key="snackbar.Id"
                                      @ref="snackbar.ComponentRef"
                                      Title="@snackbar.Title"
                                      Message="@snackbar.Message"
                                      Type="snackbar.Type"
                                      Duration="snackbar.Duration"
                                      IsDismissible="snackbar.IsDismissible"
                                      ActionText="@snackbar.ActionText"
                                      OnAction="@(() => OnSnackbarAction(snackbar))"/>
    }
</div>

@code {
    // Left blank on purpose
}
