@inherits DropBear.Codex.Blazor.Components.Bases.DropBearComponentBase
@if (ShouldRenderContent)
{
    <div class="section-component-section @(Disabled ? "section-component-disabled" : "")" aria-disabled="@Disabled">
        @ChildContent
    </div>
}
