@inherits DropBear.Codex.Blazor.Components.Bases.DropBearComponentBase

@if (ShouldRenderContent)
{
    <section class="section-component-section" id="@($"section-{ComponentId}")">
        @ChildContent
    </section>
}
