@inject IModalService ModalService
@using DropBear.Codex.Blazor.Interfaces
@inherits DropBear.Codex.Blazor.Components.Bases.DropBearComponentBase

@if (ModalService.IsModalVisible)
{
    <div class="modal-overlay" @onclick="HandleOutsideClick">
        <div class="modal-content @_modalTransitionClass"
             style="width: @_customWidth; height: @_customHeight; transition-duration: @_transitionDuration;"
             @onclick:stopPropagation="true">
            <DynamicComponent Type="ModalService.CurrentComponent" Parameters="ModalService.CurrentParameters"/>
        </div>
    </div>
}
