@inherits DropBear.Codex.Blazor.Components.Bases.DropBearComponentBase

<div class="section-component-section @(Disabled ? "section-component-disabled" : "")" aria-disabled="@Disabled">
    @if (ShouldRenderContent)
    {
        @ChildContent
    }
</div>
