@using Microsoft.JSInterop
@inherits DropBear.Codex.Blazor.Components.Bases.DropBearComponentBase
@inject IJSRuntime JsRuntime

<div class="@ContainerClass" style="--max-width:@MaxWidthStyle;">
    @ChildContent
</div>
