@inherits DropBear.Codex.Blazor.Components.Bases.DropBearComponentBase

<div class="@ContainerClass" style="--max-width:@MaxWidth;">
    @ChildContent
</div>

@code {
    // Intentionally left blank
}
